<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Devernote</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/railscasts.min.css">
	<link rel="stylesheet" href="/stylesheets/devernote.css">
</head>
<body onload="convertToHtml('markdown', 'rendered')">
	
	<!-- Sidebar -->
	<div class="ui sidebar inverted vertical  menu">
		<div class="ui inverted accordion">
			
			<!-- New Notebook -->
			<form action="/notebooks" method="POST">
				<div class="ui mini fluid icon input">
					<input type="text" name="notebook[name]" placeholder="New Notebook..." required>
					<i class="plus square icon"></i>
				</div>
			</form>

			<!-- Populate Notebook Menu -->
			<% if (notebooks) {
				notebooks.forEach(function(notebook) { %>

					<!-- Notbook Title -->
					<div class="title">
						<i class="dropdown icon"></i><%= notebook.name %>
					</div>
					
					<!-- Notebook Content -->
					<div class="content">
						<div class="inverted menu">

							<!-- Note -->
							<% notebook.notes.forEach(function(note) { %>
								<a class="item" href="/notebooks/<%= notebook._id %>/notes/<%= note.id %>">
									<%= note.title %>
								</a> 
							<% }); %>
								
							<!-- New Note -->
							<a class="item" href="/notebooks/<%= notebook._id %>/notes/new">
								<i class="plus square icon"></i>
								<div class="content">
									...New Item
								</div>
							</a>

						</div>
					</div>

				<% }); 
			}%>
			
		</div>
	</div>
	<!-- Pusher -->
	<div class="pusher dimmed">
		<button class="ui black icon button" id="sidebar-btn">
			<i class="book icon"></i>
		</button>